<div class="panel">
  <div class="panel-heading"><%= t('activerecord.controllers.question.edit') %></div>
  <div class="panel-body">
    <%= form_for [@quiz, @question], html: { class: "form-horizontal" } do |f| %>
      <fieldset>
        <legend>
          <%= t('question_instructions',
          translate_from: t("locale.#{@question.translate_from}").downcase,
          translate_to: t("locale.#{@question.translate_to}").downcase ) %>
        </legend>
        <div class="form-group">
          <%= f.label @word_definition, class: "col-lg-2 control-label" %>
          <div class="col-lg-10">
            <%= f.text_field :response, class: "form-control" %>
          </div>
        </div>
      </fieldset>
      <%= f.submit "Valider", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
