.panel
  .panel-heading= t('sign_in')
  .panel-body
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: { multipart: true, class: "form-horizontal" }) do |f|
      = devise_error_messages!

      %fieldset
        .form-group
          = f.label :email, class: "col-lg-2 control-label required"
          .col-lg-10
            = f.email_field :email, autofocus: true, class: "form-control required"
        .form-group
          = f.label :password, class: "col-lg-2 control-label required"
          .col-lg-10
            = f.password_field :password, autocomplete: "off", class: "form-control required"

        .form-group
          .col-lg-10.col-lg-offset-2
            = f.submit I18n.t('actions.validate'), class: "btn btn-primary"
