%aside
  .sidebar-wrapper
    %ul#sidebar.nav.nav-stacked.affix
      %li.nav-heading{ data: { toggle: "collapse", target: "#words" } }
        = fa_icon "book"
        %span= t('activerecord.models.word')
      #words.panel-collapse.collapse{ class: ('in' if current_controller?('words')) }
        %li= link_to I18n.t('activerecord.controllers.words.index'), words_path
        %li= link_to I18n.t('activerecord.controllers.words.new'), new_word_path
      - if current_user
        = render partial: "layouts/partials/#{current_user.type.downcase}_sidebar"
      - else
        = render partial: "layouts/partials/student_sidebar"
