!!!!
%html
  %head
    %title DictioKhmer
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag params[:controller]
    = csrf_meta_tags
  %body{ :'data-locale' => I18n.locale }
    %div.wrapper
      / Navbar
      = render partial: "layouts/partials/topnavbar"

      / Main section
      / Page content
      = render partial: "layouts/partials/sidebar"
      .content-wrapper
        = yield

    / Page footer
    %footer
      = render partial: "layouts/partials/footer"

    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag params[:controller]
